<div class="card">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-6">
      <label for="cpf">CPF</label>
      <input id="cpf" type="text" pInputText>
    </div>
  </div>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-6">
      <label for="name">Nome</label>
      <input id="name" type="text" pInputText>
    </div>

    <div class="p-field p-col-6">
      <label for="email">Email</label>
      <input id="email" type="email" pInputText>
    </div>

    <div class="p-field p-col-4">
      <label for="cellphone">Telefone celular</label>
      <input id="cellphone" type="text" pInputText>
    </div>

    <div class="p-field p-col-4">
      <label for="alternativePhone">Telefone alterantivo</label>
      <input id="alternativePhone" type="text" pInputText>
    </div>

    <div class="p-field p-col-4">
      <label for="dateOfBirth">Data de nascimento</label>
      <p-calendar inputId="dateOfBirth"></p-calendar>
    </div>
  </div>
</div>
